@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Oswald:wght@400;600&display=swap');
/* 공통속성 */
body{font-family: 'Noto Sans KR', sans-serif;}
.container{width: 1140px; margin: 0 auto; height: inherit; /* background: rgba(0, 0, 0, .5); */}


/* 레이아웃 */
/* #header{ height: 200px; background: url(../img/KV_login.png)no-repeat center center; top: 37px;} */
#header{ width: 100%; height: 200px;  background: url(../img/KV_login.png)no-repeat center center; z-index: 999;  }
#content{height:880px; background: #fff;}
#footer{height: 270px; background: #000; padding: 14px 0;}


/* 헤더영역 */

#header .container{padding-top: 0px;}
.h_inner{width: 100%; height:115px ; background: #fff;; margin-top: 0;}
.h_top{height: 56px;  box-sizing: border-box; padding: 16px 20px 8px;}


.h_top> .h_logo{float: left;}
.h_top> .h_gnb_menu{float: right;}
.h_top> .h_gnb_menu ul>li{float: left; padding: 0 15px; position: relative; }

.h_top> .h_gnb_menu ul>li>a{padding-left: 2px; font-size: 13px;}
.h_top> .h_gnb_menu ul>li>a::after{content: "";width: 1px; height: 16px; position: absolute;background: #d8d8d8; top: 4px; right: 0;}
.h_top> .h_gnb_menu ul>li:last-child a:after{background: none;}
.h_top> .h_gnb_menu ul>li>a>.icon_customer{width: 22px; height: 18px; background: url(../img/icon_customer.png)no-repeat center top; display: block; float: left;}

.h_menu_w{ height: 58px; position: relative;}
.bnt_h_allmenu{background: url(../img/icon_allmenu.png)no-repeat center center; width: 70px; height: 58px; float: left; }
.nav{float:left; margin-left: 180px; margin-top: 20px;}
.nav .menu-bg{position: absolute; z-index: 2; width: 1140px; height: 0px; background: #eee; left:0; top: 59px; transition: .4s; overflow: hidden;}
.nav:hover .menu-bg{height: 300px}
.nav .menu-bg ul{margin:30px 0 0 56px; width: 138px; height: 270px; box-sizing: border-box; }
.nav .menu-bg > ul > li{height: 40px; border-bottom: 1px solid #ddd;}
.nav .menu-bg ul li a{display: block; padding-top:15px; }
.nav .nav_list>li{float: left; width: 136px;}
.nav .nav_list>li>a{color: #363636; font-size: 16px; font-weight: 700; display: block; padding: 0px 0 15px ;}
.nav .nav_list>li:hover>a{border-bottom: 3px solid #02a5b1; padding-bottom: 12px;}
.nav .nav_list>li>.twodepth{padding: 30px 0; position: absolute; z-index: 3; }
.nav .nav_list>li>.twodepth ul{border-left: 1px solid #ddd; padding-left: 10px; width: 136px; box-sizing: border-box;height: 0; transition: .4s; overflow: hidden;}
.nav:hover .nav_list>li>.twodepth ul{height:250px; }
.nav .nav_list>li>.twodepth ul li a{font-size: 12px; color: #333; font-weight: normal; padding: 5px 0; display: block;}
.nav .nav_list>li>.twodepth ul li:hover a{color: #02a5b1; text-decoration: underline;}
.bnt_h_search{background: url(../img/icon_search.png) no-repeat center center; width: 73px; height: 61px; float: right;}


/* content */
#content >.container{position: relative;}
.c_tit{padding-top: 80px; color: #000; font-size: 30px; font-weight: normal;}
.login_wrap{width: 600px; margin: 30px auto; }
.login_wrap .login_top_box{width: 600px; height: 146px; background: #f9f9f9; text-align: center; line-height: 146px;}
.login_wrap .login_top_box span{color: #333; font-size: 20px; }
.login_wrap .login_top_box span strong{ font-size: 22px; }
.login_wrap .login_inner{width: 600px; height: 357px; border: 1px solid #efefef; background: #fff; box-sizing: border-box; padding: 30px 65px 60px;}
.login_wrap .login_inner .login_inner_left{width: 300px; height: 115px;float: left;}

.login_wrap .login_inner .login_inner_left .login_inner_lg label{font-size: 12px; color: #1ab8b9; padding-left: 10px;}
.login_wrap .login_inner .login_inner_left .login_inner_lg .inp_text_line{border-bottom: 2px solid #02a5b1; margin-bottom: 10px;}
.login_wrap .login_inner .login_inner_left .login_inner_lg .inp_text_line input{border: none; padding: 5px 10px;}


.login_wrap .login_inner .login_inner_right{width: 150px; height: 155px;  float: right; }
.login_wrap .login_inner .login_inner_right button{ background: #02a5b1;width: 150px; height: 120px; font-size: 15px; color: #fff;}
.login_wrap .login_inner .login_inner_right button:hover{ box-shadow:3px 3px 5px #ccc;}
.login_wrap .login_inner .login_inner_right p{text-align: center;}
.login_wrap .login_inner .login_inner_right p a{color: #9b9b9b; padding-top: 10px; display: block;}
.login_wrap .login_inner .login_inner_right p a:hover{text-decoration: underline; }

.login_wrap .login_inner .login_inner_wrap{width: 100%; height: 155px;}
.login_wrap .login_inner .login_btn{width: 100%; display: block; padding: 13px 15px; margin-top: 60px; background: #fff; border: 1px solid #bf9766; height: 50px; color: #bf9766; font-size: 15px; font-weight: bold; letter-spacing: 1px; box-sizing: border-box; text-align: center;}
.login_wrap .login_inner .login_btn:hover{box-sizing: 0 5px 5px #ccc;}

.quick_menu{width: 100px; height: 711px; background: #b68b5c; position: absolute; top: 10px; right: -100px; display: sticky; text-align: center; color: #fff;}
.quick_menu h2{font-size: 16px; padding: 10px 0;}
.quick_menu ul{margin-top: 10px;}
.quick_menu ul li{margin-bottom: 25px;}
.quick_menu ul li a{color: #fff; display: block; width: 70px; margin: 0 auto;}
.quick_menu ul li a i{display: block; width: 100%; height: 40px; background-repeat: no-repeat; background-position: center center; margin-bottom: 10px;}

.quick_menu ul li a .biz_icon{background-image: url(../img/icon_biz.png);}
.quick_menu ul li a .apply_icon{background-image: url(../img/icon_apply.png);}
.quick_menu ul li a .print_icon{background-image: url(../img/icon_print.png);}
.quick_menu ul li a .book_icon{background-image: url(../img/icon_book.png);}
.quick_menu ul li a .text_btn_icon{background-image: url(../img/icon_training_institute.png);}
.quick_menu ul li a .trainin_icon{background-image: url(../img/icon_training_institute.png);}
.quick_menu ul li a .close_icon{background-image: url(../img/icon_close_big.png);}





#footer {color: #9b9b9b;}
#footer a{color: #9b9b9b;}
.footer_top{width: 100%; height: 172px; }
.footer_bottom{width: 100%; height: 72px; color: #9b9b9b; border-top: 1px solid #9b9b9b;padding-top: 10px;}
.footer_bottom strong{font-weight: normal;}
.footer_bottom .fBo{font-weight:bold}
.footer_bottom p{margin-top: 5px;}

.f_links_w >ul{float: left;width: 175px;}
.f_links_w >ul li{line-height: 190%;}
.f_links_w >ul li select{background: none; color: #fff; font-weight: bold;}
.f_links_w >ul li select option{color: #000; font-weight: bold;}
.f_links_w >ul li a{font-weight: bold;}
#footer.f_links_w >ul li a .a_color{color: #02a5b1;}

.f_address_sns{clear: both; padding-top: 20px;}
.f_address_sns .f_address{float: left;}
.f_address_sns .f_address p{line-height: 170%;}
.f_address_sns .sns{float: right;width: 250px; height: 60px; }
.f_address_sns .sns ul{width: 170px;height: 35px; }
.f_address_sns .sns ul li{float: left;margin: 3px;}
.f_address_sns .sns ul li a{display: block; width: 35px; height: 35px;}
.f_address_sns .sns ul li.sns_f a{background: url(../img/icon_facebook.png) no-repeat center center;}
.f_address_sns .sns ul li.sns_y a{background: url(../img/icon_youtube.png) no-repeat center center;}
.f_address_sns .sns ul li.sns_i a{background: url(../img/icon_instagram.png) no-repeat center center;}
.f_address_sns .sns ul li.sns_n a{background: url(../img/icon_naver.png) no-repeat center center;}